<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <!-- External Stylesheet -->
    <!-- <link rel="stylesheet" href="css/blog.css"> -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

<div class="card" style="margin: 40px 40px; padding: 40px; box-shadow: 1px 3px 20px 1px gray;">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <a href="/">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </div>
        <div>
            <h3 class="h3 ">{{collectionDetail.name}}</h3>
        </div>
        <div>
            <div class="d-flex justify-content-end">
                <form method="post" action="/collectionDelete/{{collectionDetail.id}}">
                    <button class="btn btn-dark d-flex justify-content-end" type="submit" style="margin: 15px;">delete</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Link to Add Task -->
    <a href="/collectionDetail/{{collectionDetail.id}}/taskAdd" class="d-grid">
        <button class="btn btn-primary" type="button">Add Task</button>
    </a>

    <!-- Form Check task  -->
    <form method="post" action="/collectionDetail/{{collectionDetail.id}}" class="form" style="width: 70%;">
        <!-- checbox -->
        {{#each tasks}}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name="is_done[{{this.id}}]" id="is_done_{{this.id}}"
                    {{#if (eq this.is_done "true")}}checked{{/if}}>
                <label class="form-check-label" for="is_done_{{this.id}}">
                    {{this.name}}
                </label>
            </div>
        {{/each}}
        <!-- Submit Button -->
        <div class="d-flex justify-content-end" style="margin: 0; padding: 0;">
            <button class="btn btn-dark" type="submit" style="margin: 15px;">save collection</button>
        </div>
    </form>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>