<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Portofolio Mujtahidul Haq Mahyunda</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" style="font-size: 20px;">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNav">
            {{#if user}}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 column-gap-4">
                <li class="nav-item">
                    <h4 class="h4" href="/testimonial">welcome,{{user.username}}</h4>
                </li>              
            </ul>
            {{else}}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 column-gap-4">
                <li class="nav-item">
                    <h4 class="h4" href="/testimonial">Please login</h4>
                </li>              
            </ul>
            {{/if}}
            
            <!-- Login and Register Links -->
            <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center column-gap-3">
                 {{#if user}}
                <form action="/logout" method="post">
                  <button class="btn btn-dark fw-semibold ms-3" type="submit" style="font-size: 20px;">
                        Log Out
                    </button>
                </form>
                {{else}}
                <li class="nav-item">
                    <button type="button" class="btn btn-primary btn-sm rounded-pill">
                        <a class="nav-link fw-semibold text-white" href="/login">Login</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-secondary btn-sm rounded-pill">
                        <a class="nav-link fw-semibold text-white" href="/register">Register</a>
                    </button>
                </li>
                 {{/if}}   
            </ul>
          </div>
        </div>
    </nav>

    <div class="card" style="margin: 40px 40px; padding: 40px; box-shadow: 1px 3px 20px 1px gray;">
        <h3 class="h3 ">Collections</h3>
        <div class="collection-list d-flex justify-content-center column-gap-4">
            <!-- Collection item -->
            {{#each collections}}
            <div class="collection-list-items card" style="width: 18rem; height: 20rem;">
                <div class="task-icon">
                    <i class="fa-solid fa-list-check" style="font-size: 50px;"></i>
                </div>
                <!-- Task Title -->
                <div>
                    <h4 class="h4">
                        <a href="/collectionDetail/{{id}}" target="_blank" style="text-decoration: none; color: black;">{{name}}</a>
                    </h4>
                    <div class="mt-3">
                         <p>{{completedTasks}} dari {{totalTasks}} tugas selesai</p>
                     </div>
                </div>
                <div>
                    {{#if (eq completedTasks totalTasks)}}
                        <i class="fa-solid fa-circle-check" style="font-size: 30px;"></i>
                    {{else}}
                        <i class="fa-solid fa-circle-xmark" style="font-size: 30px;"></i>
                    {{/if}}
                </div>
            </div>
            {{/each}}
            <!-- Add Collection Item-->
            <a href="/collectionAdd" class="add-collection-list-items card d-flex justify-content-center align-items-center" style="width: 18rem; height: 20rem; text-decoration:none">
                <div class="task-icon">
                    <i class="fa-solid fa-circle-plus" style="font-size: 100px;"></i>
                </div>
            </a>

        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>